$font28: 28px;
$border: 3px solid #333;

article.tweet {
  border: $border;
  padding: 15px;
  margin: 0 0 30px;
  transition: all 0.3s ease-in;
  &:hover {
    box-shadow: 8px 8px #cad3e7;
  }
  header , footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
}

article.tweet header .user-profile{
  display: flex;
  align-items: center;
}
article.tweet header  .user-name {
  margin-left: 15px;
  font-weight: 300;
  font-size: $font28;
}
article.tweet header .user-handle {
  color: #cad3e7;
  text-decoration: none;
  font-weight: 500;
  font-size: $font28;
}
.tweet-body {
  padding: 0 15px;
}
article.tweet footer {
  border-top: $border;
  font-size: 18px;
}
article.tweet .tweet-options a {
  padding: 0 6px;
  color: #4055a1;
  transition: all 0.3s ease-in;
  &:hover {
    color: #dda548;
  }
}

/* media query */
@media (max-width:420px) {
  body {
    font-size: 20px;
    padding-top: 80px;
  }
  nav {
    height: 80px;
    padding: 0 1rem;
  }
  nav a.btn-new-tweet {
    padding: 0;
  }
  nav a.btn-new-tweet i.fa-solid {
    display: none;
  }
  .wrapper > header img {
    width: 200px;
  }
  .wrapper > header h2 {
    font-size: $font28;
    margin-top: 16px;
  }
  article.tweet header .user-profile img {
    width: 40px;
  }
  article.tweet header .user-name,
  article.tweet header .user-handle,
  .tweet-body {
    font-size: 20px;
  }
  article.tweet {
    border: 2px solid #333;
    padding: 10px;
    margin: 0 0 20px;
  }
  article.tweet footer {
    border-top: 2px solid #333;
    font-size: 16px;
  }
}