/* nav style */

nav {
  background: #4056A1;
  color: #fff;
  width: 100%;
  height: 120px;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9;
}
nav > span.tweeter-logo{
  font-family: "Bungee", sans-serif;
}
nav a.btn-new-tweet{
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  padding: 15px;
}
nav a.btn-new-tweet span{
  font-weight: 600;
}
nav a.btn-new-tweet i.fa-solid{
  display: block;
  color: #f12;
  margin-top: 5px;
}