/* nav style */

nav {
  background: #4056A1;
  color: #fff;
  height: 120px;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > span.tweeter-logo{
  font-family: "Bungee", sans-serif;
}
nav a.new-tweet{
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
}
nav a.new-tweet span{
  font-weight: 600;
}
nav a.new-tweet i.fa-solid{
  display: block;
  color: #f12;
  margin-top: 5px;
}