#tweet-text{
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #333;
  resize: none;
  margin:5px 0 15px;
  outline: none;
}
.btn-tweet {
  background: #4056a1;
  color: #fff;
  font-family: "Bungee", sans-serif;
  border: 0;
  outline: none;
  padding: 6px 6px 4px;
  cursor: pointer;
}
.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.counter{
  font-family: "Bungee", sans-serif;
  color: #333;
  font-size: 24px;
}